// Common
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700'

body
    //font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-family: 'Source Sans Pro', sans-serif
    background: $bg
    color: $base
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

a
    color: $link
    transition: all .2s
    &:hover
        color: $hover

h1,h2,h3,h4,h5,h6
    a,a:hover
        color: $base
        text-decoration: none

// mixin
clearfix()
    *zoom: 1
    &:before,
    &:after
        display: table
        content: " "
    &:after
        clear: both

