// Core (Main Style)
body
  letter-spacing: -0.01em
  word-spacing: 0.2em
  line-height: 1.8

p
  margin: 1em 0

.invisible
  font-size: 0
  line-height: 0

section
  position: relative
  padding: 20px 0

h3
  margin: 1em 0

header
  background: linear-gradient(135deg, #05A5D1 0, #279E93 100%)
  position: relative
  height: 35vw
  overflow: hidden
  @media $mq-xs
    height: 100vw

  .stripe
    position: absolute
    top: 1vw
    width: 100%
    height: 6vw
    background: #ffffff
    @media $mq-xs
      height: 18vw

  .crest
    position: absolute
    top: 7vw
    width: 100%
    height: 28vw
    background-image: url(../images/crest.svg)
    background-size: 256px
    background-position: center
    background-repeat: repeat
    @media $mq-xs
      top: 19vw
      height: 81vw

  .title
    position: absolute
    bottom: calc(-0.3vw - 8px)
    left: 10vw
    width: 60vw
    @media $mq-xs
      left: 0
      width: 100vw

  .stamp
    position: absolute
    bottom: 50px
    right: 10vw
    width: 15vw
    height: 15vw
    text-align: center
    transform: rotate(15deg)
    @media $mq-xs
      bottom: 100px
      right: -5vw
      width: 30vw
      height: 30vw

  .line-1, .line-2
    position: absolute
    font-weight: 700

section.lead
  h2
    font-size: 200%
    line-height: 1.8
    letter-spacing: 0.1em
    .alphabet
      letter-spacing: 0
    @media $mq-xs
      font-size: 150%
      letter-spacing: 0

section.detail
  h3
    font-size: 105%
    letter-spacing: 0.4em

  .recommend li
    font-size: 120%
    letter-spacing: -0.04em
    line-height: 1.9

  .toc li
    font-size: 90%

section.spec
  padding: 60px 0
  background-color: pink

  th
    text-align: left
    min-width: 5em
  td
    padding: 12px
  strong
    font-size: 160%
    font-weight: 700
    line-height: 1.3

section.info
  margin-bottom: 30px

  h3
    font-size: 105%
    letter-spacing: 0.4em

  share-btn($color)
    background-color: $color
    color: #fff
    border-color: $color
    &:hover
      background-color: darken($color, 15%)
      color: #fff
      border-color: darken($color, 15%)

  .catalog
    share-btn(#3f9d25)
  .twitter
    share-btn(#55acee)
  .facebook
    share-btn(#365899)
  .hatebu
    share-btn(#008fde)

  .about p
    color: #888
    font-size: 90%

footer
  .acknowledgement
    text-align: center
    line-height: 50px
    margin-left: -25px

    a.react-logo
      position: absolute
      width: 50px
      height: 50px
      background-image: url(../images/react_logo.svg)
      background-size: 100%
