// Core (Main Style)
body
  letter-spacing: -0.01em
  word-spacing: 0.2em
  line-height: 1.8

p
  margin: 1em 0

.invisible
  font-size: 0
  line-height: 0

section
  position: relative
  padding: 20px 0

h3
  margin: 1em 0

header
  $header-height = 45vw
  $header-bottom-area = 4vw
  $stripe-top = 1vw
  $stripe-height = 6vw
  $xs-header-height = 110vw
  $xs-header-bottom-area = 7vw
  $xs-stripe-top = 0
  $xs-stripe-height = 0

  background: linear-gradient(135deg, #69cfe4 0, #2787a7 100%)
  //background-color: #2192b7
  position: relative
  height: $header-height
  overflow: hidden
  @media $mq-xs
    height: $xs-header-height

  .stripe
    position: absolute
    top: $stripe-top
    width: 100%
    height: $stripe-height
    background: #ffffff
    @media $mq-xs
      top: $xs-stripe-top
      height: $xs-stripe-height

  .crest
    position: absolute
    top: $stripe-top + $stripe-height
    width: 100%
    height: $header-height - $stripe-top - $stripe-height
    background-image: url(../images/dots.svg)
    background-size: 32px
    background-position: center
    background-repeat: repeat
    @media $mq-xs
      top: $xs-stripe-top + $xs-stripe-height
      height: $xs-header-height - $xs-stripe-top - $xs-stripe-height

  .title
    position: absolute
    //bottom: calc(-0.3vw - 8px)
    top: $stripe-top + $stripe-height + 3vw
    left: 10vw
    width: 50vw
    @media $mq-xs
      top: $xs-stripe-top + $xs-stripe-height + 10vw
      left: 0
      width: 100vw

  .cover
    position: absolute
    width: 60vw
    right: 0
    bottom: $header-bottom-area - 1vw
    @media $mq-xs
      width: 100vw
      bottom: $xs-header-bottom-area - 2vw

  .credit
    position: absolute
    bottom: 0
    right: 10vw
    font-size: 12px
    @media $mq-xs
      right: 20px

  .stamp
    position: absolute
    bottom: 50px
    right: 10vw
    width: 15vw
    height: 15vw
    text-align: center
    transform: rotate(15deg)
    @media $mq-xs
      bottom: 100px
      right: -5vw
      width: 30vw
      height: 30vw

  &:before
    content: " "
    position: absolute
    width: 100%
    height: $header-bottom-area
    bottom: 0
    background-color: #ffffff
    @media $mq-xs
      height: $xs-header-bottom-area

section.lead
  h2
    font-size: 200%
    line-height: 1.8
    letter-spacing: 0.1em
    .alphabet
      letter-spacing: 0
    @media $mq-xs
      font-size: 150%
      letter-spacing: 0

section.detail
  h3
    font-size: 105%
    letter-spacing: 0.4em

  .recommend li
    font-size: 120%
    letter-spacing: -0.04em
    line-height: 1.9

  .toc li
    font-size: 90%

section.spec
  padding: 60px 0
  background-color: #ddd6d4

  th
    text-align: left
    min-width: 5em
  td
    padding: 12px
  strong
    font-size: 160%
    font-weight: 700
    line-height: 1.3

section.info
  margin-bottom: 30px

  h3
    font-size: 105%
    letter-spacing: 0.4em

  share-btn($color)
    background-color: $color
    color: #fff
    border-color: $color
    &:hover
      background-color: darken($color, 15%)
      color: #fff
      border-color: darken($color, 15%)

  .catalog
    share-btn(#3f9d25)
  .twitter
    share-btn(#55acee)
  .facebook
    share-btn(#365899)
  .hatebu
    share-btn(#008fde)

  .about p
    color: #888
    font-size: 90%

footer
  .acknowledgement
    text-align: center
    line-height: 50px
    margin-left: -25px

    a.react-logo
      position: absolute
      width: 50px
      height: 50px
      background-image: url(../images/react_logo.svg)
      background-size: 100%
